@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome- working with Automatic Deployment to App Service From GitHUB</h1>
    <p style="color:red">This page created at @DateTime.Now.ToString()</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
